<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Consul" version="0.7.2.3" targetFramework="net462" />
  <package id="ExcelDataReader" version="3.5.0" targetFramework="net461" />
  <package id="ExcelDataReader.DataSet" version="3.5.0" targetFramework="net461" />
  <package id="HL.Blocks.Caching" version="1.5.1.0" targetFramework="net462" />
  <package id="HL.Common.Configuration" version="1.2.3-alpha" targetFramework="net462" />
  <package id="HL.Common.DataContract.Interfaces" version="1.1.1.0" targetFramework="net461" />
  <package id="HL.Common.DataContract.ValueObjects" version="1.1.1.0" targetFramework="net461" />
  <package id="HL.Common.ValueObjects" version="1.1.22.0" targetFramework="net462" />
  <package id="HL.InMemory.Caching" version="1.0.0" targetFramework="net462" />
  <package id="HtmlAgilityPack" version="1.4.9.5" targetFramework="net462" />
  <package id="Microsoft.AspNet.Razor" version="3.0.0" targetFramework="net462" />
  <package id="Microsoft.CodeCoverage" version="15.8.0" targetFramework="net461" />
  <package id="Microsoft.NET.Test.Sdk" version="15.8.0" targetFramework="net461" />
  <package id="MongoDB.Bson" version="2.7.0" targetFramework="net462" />
  <package id="MongoDB.Driver" version="2.4.0" targetFramework="net462" />
  <package id="MongoDB.Driver.Core" version="2.4.0" targetFramework="net462" />
  <package id="MSBuild.Extension.Pack" version="1.9.1" targetFramework="net461" />
  <package id="MyHerbalife3.Shared.Interfaces" version="1.2.0.0" targetFramework="net461" />
  <package id="MyHerbalife3.Shared.ViewModel" version="1.2.11.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net462" />
  <package id="NUnit" version="3.10.1" targetFramework="net462" />
  <package id="NUnit.ConsoleRunner" version="3.8.0" targetFramework="net462" />
  <package id="NUnit3TestAdapter" version="3.10.0" targetFramework="net462" />
  <package id="RazorEngine" version="3.9.0" targetFramework="net462" />
  <package id="Selenium.Support" version="3.12.0" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.12.0" targetFramework="net461" />
  <package id="Shop.Address.ViewModel" version="0.0.141" targetFramework="net462" />
  <package id="Shop.Cart.ViewModel" version="0.0.25-alpha" targetFramework="net462" />
  <package id="Shop.Catalog.Service.Models" version="1.0.23-alpha" targetFramework="net462" />
  <package id="Shop.Common.Model" version="1.0.52" targetFramework="net462" />
  <package id="Shop.Home.Service.Models" version="0.0.31" targetFramework="net462" />
  <package id="StackExchange.Redis.Extensions.Core" version="3.4.0" targetFramework="net462" />
  <package id="StackExchange.Redis.Extensions.Newtonsoft" version="3.4.0" targetFramework="net462" />
  <package id="StackExchange.Redis.StrongName" version="1.2.6" targetFramework="net462" />
  <package id="System.Configuration.ConfigurationManager" version="4.4.1" targetFramework="net462" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net462" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net462" />
  <package id="Unity" version="5.8.11" targetFramework="net462" />
</packages>